#Hello{
    color: blueviolet;
    text-align: center;
    background-color: cyan;
}

.color-time{
    color: red;
    background-color: silver;
}

/* .image{
    padding-left: 463px;
    position: relative; top: 10px;
} */

body{
    background-color: gray;
}

.Facts{
    color: darkmagenta;
    background-color: floralwhite;
    border: gold;
}

.Febuary{
    color:chocolate;
    background-color: crimson;
}

#Sub-title{
    color: cyan;
}

/* .image-2{
    padding-left: 500px;
    padding-bottom: 100px;
} */

#goals{
    color: black
}

.future-goals{
    background-color: lawngreen;
    color: darkblue;
}

.column-2{
    column-count: 1;
    background-color: darkgreen;
}
.column{
    column-count: 1;
    background-color: mediumblue;
}






















/* @media only screen and (orientation: landscape) {

    #Sub-title {
        color: green;
    }

} */